/* Course list */ 
.color-tag-wrapper {
    display: flex;
    align-items: center;
    .tag-btn {
        padding: 5px 25px;
        text-transform: capitalize;
        font-size: 16px;
        border-radius: 5px;
    }
}
.tab-product-slider-item {
    margin: 10px 0;
}
.top-filter-menu {
    border-radius: 5px;
    background-color: #f9faff;
    height: 50px;
    border-radius: 5px;
  }
  
  .course-list-sidebar-widget {
      .ratings-wrapper-box {
     
            position: absolute;
            top: 1px;
            left: 20px;

      }
    .ratings-icon {
        font-size: 10px;
    }
    .ratings-badge {
        font-size: 10px;
    }
.small-text {
        font-size: 12px;
    }
  }