/* Homepage 1*/
.lms_hero-section {
    padding-top: 170px;
    padding-bottom: 60px;
    @include screen-992 {
        padding-top: 210px;
    }
    @include screen-576 {
        padding-top: 265px;
    }
 
// hero-wrapper
.hero-wrapper {
position: relative;
background-size:cover;
background-repeat: no-repeat;
width: 100%;
border-radius: 10px;
padding: 60px;
height: 690px;
@include screen-992 {
    height: auto;
}
}
// left side
.left-side {
        .hero-small-text {
            font-family: $inter;
            color: $primary-color;
            font-weight: 700;
            @include screen-768 {
                font-size: 14px;
            }
        }
        .small-img {
            width: 70px;
            @include screen-768 {
                width: 50px;
            }
        }
        .main-title {
            font-weight: 700;
            font-family: $rubik;
           @include screen-768 {
            font-size: 20px;
           }
        }
        .para {
           font-weight: 500;
           text-transform: capitalize;
           @include screen-768 {
            font-size: 14px;
        }
        }
        .play-btn {
            font-size: 50px;
            @include screen-768 {
                font-size: 30px;
            }
        }
        .play-btn-text {
            font-family: $inter;
            font-size: 16px;
            color: $secondary-color;
            margin-left: 10px;
            @include screen-768 {
                font-size: 14px;
            }
        }
    }
// right side

.right-side {
    width: 45%;
    position: absolute;
    bottom: 0;
    right: 60px;

    @include screen-1200 {
        width: 40%;
    }
  
        @include screen-768 {
            display: none;
        }
 
}

.vec2 {
    position: absolute;
    width: 70px;
    bottom: 10%;
    left: 28%;
    @include screen-768 {
        display: none;
    }
}

// play-btn
.play-btn {
    color: $orange-color;
}
.play-btn-text {
    font-family: $inter;
    font-weight: 700;
    font-size: 16px;
}

}

// common title
.common-title {
    font-family: $rubik;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 30px;
    color: $secondary-color;
    @include screen-992 {
        font-size: 20px;
    }
}

// single-lms-card-one
.single-lms-card-one {
    padding: 10px;
    border-radius: 15px;
    background-color: $white-color;
    box-shadow: 0px 0px 10px 0px rgba(39, 53, 160, 0.1);
    h5 {
        color: $secondary-color;
        transition: .3s;
        &:hover {
            color: $primary-color;
        }
    }
    .info-title {
        font-weight: 500;
        font-family: $body-font;
        font-size: 14px;
        color: $secondary-color;
        text-transform: capitalize;
     
    }
    .inner-card {
        position: relative;
        overflow: hidden;
        padding: 10px;
    }
    .bottom-section {
     transition: .3s;
    }
    .single-btn {
        line-height: 37px;
        text-decoration: none;
        width: initial;
        transition: .3s;
        box-shadow: 0px 9px 21px 0px rgba(0, 101, 36, 0.15);
        width: 150px;
        position: absolute;
        top: 150%;
        left: 50%;
        transform: translate(-50%,-50%);
  
    }
    .separator {
        color:#b5b5b5;
    }
    &:hover {
         .bottom-section {
        transform: translateY(-150%);
        }
        .single-btn {
            top: 50%;
        }
    }

    
    
}

// lms_instructor_section
.lms_instructor_section {
    padding-top: 130px;
    padding-bottom: 130px;
    background-size: cover!important;
    background-repeat: no-repeat!important;
}
.card_instructor {
    height: 400px;
    display: flex;
    align-items: center;
    padding: 40px;
    border-radius: 15px;
    position: relative;
    box-shadow: 0px 0px 10px 0px rgba(39, 53, 160, 0.1);
      
    .title {
        font-family: $rubik;
    }
    .subtitle {
        font-size: 14px;
        font-weight: 500;
    }
.course-img {
    position: absolute;
    bottom: 0;
    right: 10px;
    width: 400px;
    @include screen-1600 {
        width: 160px;
    }
}
}

// course_lms_counter
.course_lms_counter {
    background: $blue-color;
    text-align: center;
    border-radius: 15px;
    color: $white-color;
    padding: 50px;
    position: relative;
    overflow: hidden;
    .card-thumb {
        width: 170px;
        @include screen-1600 {
            width: 110px;
        }
    
    }
    .vec1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
    }
    .mid-title {
        font-family: $rubik;
        font-weight: 500;
        font-size: 18px;
        color: $white-color;
        transition: .3s;
        @include screen-1440 {
            font-size: 14px;
        }
        &:hover {
            color: $primary-color;
        }
    }
    .para {
        font-weight: 500;
        font-size: 14px;
        @include screen-1440 {
            font-size: 12px;
        }
    }
}
.counter-title {
    font-family: $rubik;
    font-weight: 700;
    @include screen-1440 {
        font-size: 20px;
    }

}
// single-small-course-card
.single-small-course-card {
    border-radius: 15px;
    background-color: $white-color;
    box-shadow: 0px 0px 10px 0px rgba(39, 53, 160, 0.1);
    padding: 10px;
    display: flex;
    align-items: center;
    .small-img {
        width: 140px;
        border-radius: 15px;
        @include screen-1600 {
            width: 100px;
        }
    }
    .right-side {
        margin-left: 20px;
        @include screen-1600 {
            margin-left: 10px;
        }
    }
    .subtitle {
        font-weight: 400;
        text-transform: capitalize;
        font-size: 16px;
        display: block;
        @include screen-1440 {
            font-size: 12px;
        }
    }
    .counter-title {
        @include screen-1440 {
            font-size: 20px;
        }
    }
    .view-more {
        @include screen-1440 {
            font-size: 10px;
        }
    }
}
.trendy-course-nav-wrapper {
    .single-small-course-card {
        cursor: pointer;
        .counter-title {
            font-size: 14px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            @include screen-1440 {
                width: 60px;
            }
        }
    }
}
.view-more {
    font-weight: 500;
    font-size: 14px;
    text-transform: capitalize;
    color: $secondary-color;
    &:hover {
        color: $primary-color;
    }
}
// top-course-section
.top-course-section {
    padding-top: 130px;
    padding-bottom: 130px;
}
// single course card
.single-course-card {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px rgba(39, 53, 160, 0.1);
    background: $white-color;
    .card-img {
        width: 100%;
        transition: .3s;
    }
    .heart-icon {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        font-size: 14px;
        line-height: 30px;
        text-align: center;
        background-color: $white-color;
        color: $secondary-color;
        z-index: 22;
        transition: .3s;
        &:hover {
            background-color: $primary-color;
            color: $white-color;
        }
    }

    // bottom-section
    .bottom-section {
        padding: 30px 20px;
        .title {
            display: block;
            font-weight: 700;
            font-family: $rubik;
            color: $secondary-color;
            transition: .3s;
            font-size: 16px;
            &:hover {
                color: $primary-color;
            }
        }
        .teacher-name {
            text-transform: capitalize;
            font-size:14px;
            font-weight: 400;
        }
    .lesson {
        font-weight: 500;
        font-size: 14px;
        text-transform: capitalize;
    }
    .icon-color{
        color: #b5b5b5;
    }
    .price {
        font-weight: 700;
        font-size: 18px;
        font-family: $rubik;
    }
      .small-btn {
          font-family: $inter;
          font-weight: 500;
          font-size: 13px;
          width: 115px!important;
          height: 30px;
          line-height: 30px;
          transform: translateY(80px);
        //   opacity: 0;
        //   visibility: hidden;
          transition: .3s;
      }
    }

    // hover effect
    &:hover {
        .card-img {
            transform: scale(1.2) skewX(-2deg)
        }
        .small-btn {
            transform: translate(0);
        }
    }
}
.ratings-icon {
    color: $yellow-color;
    font-size: 12px;
  }
  .ratings-badge {
      display: inline-block;
      font-weight: 500;
      font-size: 12px;
      width: 50px;
      color: $secondary-color;
      background-color: $yellow-color;
      border-radius: 4px;
      text-align: center;
  }
// single small course card extend
.single-small-course-card-extend {
    .small-img {
        width: 90px;
        @include screen-1600 {
            width: 60px;
        }
    }
    .counter-title {
        font-size: 18px;
    }
}

// single-course-card-lg 
.single-course-card-lg {
    .bottom-section {
        .title {
            font-size: 20px;
        }
        .teacher-name {
            font-size: 18px;
        }
        .lesson {
            font-size: 16px;
        }

        .small-btn {
             height: 40px;
             line-height: 40px;
         }
    }
}

// single-small-filter-card
.single-small-filter-card {
    .small-img {
        width: 120px;
    }
    .bottom-section {
        padding: 0;
        .teacher-name {
            font-size: 12px;
        }
        .total-ratings {
            font-weight: 500;
            font-size: 16px;
            display: inline-block;
        }
        .total-ratings-amount {
            font-size: 12px;
            font-weight: 400;
        }
    }
}

// trendy-item-wrapper
.trendy-item-wrapper {
    .element-item {
        margin-bottom: 15px;
    }
}

// feature-course-section
.feature-course-section {
    margin-bottom: -170px;
}
.course-vdo-section {
    background-size: cover!important;
    background-repeat: no-repeat!important;
    padding: 30px;
    border-radius: 20px;
    position: relative;
    &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 20px;
        background-image: linear-gradient(112deg, #51be78 -34%, rgba(255, 255, 255, 0.18039) 133%)
    }
}

// video-course-card
.video-course-card {
z-index: 11;
.bottom-section {
    padding: 40px 20px;
    .small-btn {
        transform: translateY(0);
    }
}
}
.video-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    line-height: 30px;
    z-index: 22;
    color: $white-color;
    &:hover {
        color: $white-color;
    }
    &::after {
        content: '';
        width: 55px;
        height: 55px;
        background: $primary-color;
        z-index: -16;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: 50%;
        line-height: 55px;

    }
}

// feature-course-right-side 
.feature-course-right-side {
    padding: 30px;
    border-radius: 20px;
    background: $blue-color;
}

// instructor-single-slider
.instructor-single-slider {
    .title {
        font-size: 24px;
        font-weight: 500;
        font-family: $rubik;
        @include screen-1440 {
            font-size: 16px;
        }
    }
    .subtitle {
        font-weight: 400;
        font-size: 16px;
        text-transform: capitalize;
        @include screen-1440 {
            font-size: 14px;
        }
    }
    .total-ratings {
        font-weight: 700;
        font-size: 14px;
        @include screen-1440 {
            font-size: 12px;
        }
    }
    .total-ratings-amount {
        @include screen-1440 {
            font-size: 12px;
        }
    }
    .ratings-icon {
        color: $yellow-color;
        font-size: 12px;
    }
    .view-more {
        font-weight: 500;
        font-size: 14px;
        text-transform: capitalize;
        @include screen-1440 {
            font-size: 12px;
        }
    }
}

// instructor-section
.instructor-section{
    background-size: cover;
    padding-top: 280px;
    padding-bottom: 130px;
}

// lms-testimonial-section 
.lms-testimonial-section {
    padding-top: 130px;
    padding-bottom: 130px;
}
.lms-single-testimonial {
    padding: 20px;
    border-radius: 15px;
    background-color: $white-color;
    box-shadow: 0px 0px 10px 0px rgba(39, 53, 160, 0.1);
    position: relative;

    .quote-icon {
        display: block;
        font-size: 40px;
        color: $lite-sky;
    }
    .bottom-section {
        display: flex;
        align-items: center;
        .thumb {
            width: 70px;
        }
        .right-side {
            margin-left: 20px;
        }
        .title {
            font-size: 16px;
            display: block;
            font-family: $rubik;
            text-transform: capitalize;
        }
        .desig {
            font-size: 16px;
            text-transform: capitalize;
            display: block;
            font-weight: 400;
        }
    }
  }
  
  .single-course-card .heart-icon-left {
    right: initial;
    left: 20px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 10px;
}