/* Theme Default */

// Padding
.p-30 {
  padding: 30px;
}
.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-35 {
  padding-top: 35px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-45 {
  padding-top: 45px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-55 {
  padding-top: 55px;
}

.pt-60 {
  padding-top: 60px!important;
}

.pt-65 {
  padding-top: 65px;
}

.pt-70 {
  padding-top: 70px;
}

.pt-75 {
  padding-top: 75px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-85 {
  padding-top: 85px;
}

.pt-90 {
  padding-top: 90px;
}

.pt-95 {
  padding-top: 95px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-105 {
  padding-top: 105px;
}

.pt-110 {
  padding-top: 110px;
}

.pt-115 {
  padding-top: 115px;
}

.pt-120 {
  padding-top: 120px;
}

.pt-125 {
  padding-top: 125px;
}

.pt-130 {
  padding-top: 130px;
}

.pt-135 {
  padding-top: 135px;
}

.pt-140 {
  padding-top: 140px;
}

.pt-145 {
  padding-top: 145px;
}

.pt-150 {
  padding-top: 150px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-35 {
  padding-bottom: 35px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-45 {
  padding-bottom: 45px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-55 {
  padding-bottom: 55px;
}

.pb-60 {
  padding-bottom: 60px!important;
}

.pb-65 {
  padding-bottom: 65px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-75 {
  padding-bottom: 75px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-85 {
  padding-bottom: 85px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-95 {
  padding-bottom: 95px;
}

.pb-100 {
  padding-bottom: 100px!important;
}

.pb-105 {
  padding-bottom: 105px;
}

.pb-110 {
  padding-bottom: 110px;
}

.pb-115 {
  padding-bottom: 115px;
}

.pb-120 {
  padding-bottom: 120px;
}

.pb-125 {
  padding-bottom: 125px;
}

.pb-130 {
  padding-bottom: 130px!important;
}

.pb-135 {
  padding-bottom: 135px;
}

.pb-140 {
  padding-bottom: 140px;
}

.pb-145 {
  padding-bottom: 145px;
}

.pb-150 {
  padding-bottom: 150px;
}
.pb-170 {
  padding-bottom: 170px;
}

// margin
.ml-60 {
  margin-left: 60px;
}
.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-55 {
  margin-top: 55px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-65 {
  margin-top: 65px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-75 {
  margin-top: 75px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-85 {
  margin-top: 85px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-95 {
  margin-top: 95px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-105 {
  margin-top: 105px;
}

.mt-110 {
  margin-top: 110px;
}

.mt-115 {
  margin-top: 115px;
}

.mt-120 {
  margin-top: 120px;
}

.mt-125 {
  margin-top: 125px;
}

.mt-130 {
  margin-top: 130px;
}

.mt-135 {
  margin-top: 135px;
}

.mt-140 {
  margin-top: 140px;
}

.mt-145 {
  margin-top: 145px;
}

.mt-150 {
  margin-top: 150px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-55 {
  margin-bottom: 55px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-65 {
  margin-bottom: 65px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-75 {
  margin-bottom: 75px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-85 {
  margin-bottom: 85px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-95 {
  margin-bottom: 95px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-105 {
  margin-bottom: 105px;
}

.mb-110 {
  margin-bottom: 110px;
}

.mb-115 {
  margin-bottom: 115px;
}

.mb-120 {
  margin-bottom: 120px;
}

.mb-125 {
  margin-bottom: 125px;
}

.mb-130 {
  margin-bottom: 130px;
}

.mb-135 {
  margin-bottom: 135px;
}

.mb-140 {
  margin-bottom: 140px;
}

.mb-145 {
  margin-bottom: 145px;
}

.mb-150 {
  margin-bottom: 150px;
}

// scrollup
.scrollup {
  background: $primary-color;
  color: $white-color;
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
 border-radius: 50%;
  text-align: center;
  font-size: 14px;
  outline: none;
  border: none;
  transition: 0.5s;
  position: fixed;
  right: 0px;
  bottom: 0px;
  display: none;
  z-index: 22;
  cursor: pointer;

  @include screen-992{
    bottom: 70px;
  }
  &:hover {
    background: $secondary-color;
  }
}

// template pagination
.template-pagination {
    border-radius: 10px;
    background-color: $white-color;
    box-shadow: 0px 0px 10px 0px rgba(39, 53, 160, 0.1);
    display: inline-block;
    padding: 5px 2px;
  
  ul {
    li {
      display: inline;
      margin: 0 5px;

      a {
        display: inline-block;
        color: $secondary-color;
        padding: 10px;
        font-weight: 700;
        border-radius: 5px;
        transition: $transition;
        line-height: 16px;
        font-family: $heading-font;

        &:hover {
          color: $white-color;
          background-color: $primary-color;
        }
      }

      a.active {
        color: $white-color;
        background-color: $primary-color;
      }

      &.pagination-arrow {
        a {
          color: $secondary-color;
          background-color: transparent;
          border: 1px solid transparent;
          padding: 0;
          font-size: 18px;

          i {
            font-weight: 700;
          }
        }
      }
    }
  }
}

// Animation
.item-rotate {
  animation: rotted 5s infinite ease-in-out;
  animation-direction: alternate-reverse;
}

@keyframes rotted {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(320deg);
  }
}

.item-rotate2 {
  animation: rotted 6s infinite ease-in-out;
  animation-direction: alternate-reverse;
}

@keyframes rotted {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-180deg);
  }

  100% {
    transform: rotate(-320deg);
  }
}

.item-bounce {
  -webkit-animation: bounce 3s infinite ease-in-out;
  -o-animation: bounce 3s infinite ease-in-out;
  -ms-animation: bounce 3s infinite ease-in-out;
  -moz-animation: bounce 3s infinite ease-in-out;
  animation: bounce 3s infinite ease-in-out;
}

@keyframes bounce {
  0% {
    transform: translateY(-5px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-5px);
  }
}

.item-zooming {
  -webkit-animation: zooming 3s infinite ease-in-out;
  -o-animation: zooming 3s infinite ease-in-out;
  -ms-animation: zooming 3s infinite ease-in-out;
  -moz-animation: zooming 3s infinite ease-in-out;
  animation: zooming 3s infinite ease-in-out;
}

@keyframes zooming {
  0% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.9);
  }
}

.item-ripple {
  border-radius: 50%;
  -webkit-animation: ripple 3s infinite ease-in-out;
  -o-animation: ripple 3s infinite ease-in-out;
  -ms-animation: ripple 3s infinite ease-in-out;
  -moz-animation: ripple 3s infinite ease-in-out;
  animation: ripple 3s infinite ease-in-out;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba($primary-color, 0.8),
      0 0 0 20px rgba($primary-color, 0.8);
  }

  100% {
    box-shadow: 0 0 0 20px rgba($primary-color, 0.5),
      0 0 0 40px rgba($primary-color, 0.3);
  }
}

.item-ripple2 {
  -webkit-animation: ripple 3s infinite ease-in-out;
  -o-animation: ripple 3s infinite ease-in-out;
  -ms-animation: ripple 3s infinite ease-in-out;
  -moz-animation: ripple 3s infinite ease-in-out;
  animation: ripple 3s infinite ease-in-out;
}

@keyframes ripple2 {
  0% {
    box-shadow: 0 0 0 0 rgba(18, 16, 83, 0.2), 0 0 0 20px rgba(18, 16, 83, 0.2),
      0 0 0 40px rgba(18, 16, 83, 0.2);
  }

  100% {
    box-shadow: 0 0 0 20px rgba(18, 16, 83, 0.2),
      0 0 0 40px rgba(18, 16, 83, 0.1), 0 0 0 60px rgba(18, 16, 83, 0);
  }
}

.item-animateOne {
  -webkit-animation: animateOne 15s infinite ease-in-out;
  -o-animation: animateOne 15s infinite ease-in-out;
  -ms-animation: animateOne 15s infinite ease-in-out;
  -moz-animation: animateOne 15s infinite ease-in-out;
  animation: animateOne 15s infinite ease-in-out;
}

@-webkit-keyframes animateOne {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  50% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes animateOne {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  50% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.item-animateTwo {
  -webkit-animation: animateTwo 15s infinite ease-in-out;
  -o-animation: animateTwo 15s infinite ease-in-out;
  -ms-animation: animateTwo 15s infinite ease-in-out;
  -moz-animation: animateTwo 15s infinite ease-in-out;
  animation: animateTwo 15s infinite ease-in-out;
}

@-webkit-keyframes animateTwo {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  50% {
    -webkit-transform: translate(-50px, 50px);
    transform: translate(-50px, 50px);
  }

  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes animateTwo {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  50% {
    -webkit-transform: translate(-50px, 50px);
    transform: translate(-50px, 50px);
  }

  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

// custom scrollbar style
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary-color;
  height: 20px;
  border-radius: 10px;
}

// for custom selector
::-moz-selection {
  /* Code for Firefox */
  color: $white-color;
  background: $secondary-color;
}

::selection {
  color: $white-color;
  background: $secondary-color;
}

// slick prev slick next
.slick-next,
.slick-prev {
  position: absolute;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  top: -9.5%;
  transition: $transition;
  display: block;
  z-index: 1;
}

.slick-prev {
  right: 50px;
  background: $white-color;
  border: 1px $secondary-color;
}

.slick-next {
  right: 0px;
  border: 1px solid transparent;
  background: $secondary-color;
  color: $white-color;
}

//  slick gap

  /* the slides */
  .slick-slide {
      margin: 10px 10px;
  }

  /* the parent */
  .slick-list {
      margin: -10px -10px;
  }

  // slick dot
  .slick-dots {
    position: absolute;
    bottom: -14%;
    left: 50%;
    transform: translateX(-50%);
    display: flex !important;
}
.slick-dots li {
  display: inline-block;
  margin: 0 4px;
}
  .slick-dots button {
    width: 6px;
    height: 6px;
    font-size: 0;
    border: none;
    outline: none;
    border-radius: 50%;
    line-height: 6px;
    display: block;
    padding: 0;
}

  .slick-dots .slick-active button {
 background: $primary-color;
 width: 8px;
 height: 8px;
 line-height: 8px;
}
a {
  text-decoration: none;
}
// grid-270
.grid-250 {
  width: 250px;
  @include screen-1600 {
     width: 200px;
  }
  @include screen-1440 {
     width: 150px;
  }
}
.grid-270 {
  width: 270px;
  @include screen-1600 {
     width: 210px;
  }
  @include screen-1440 {
     width: 160px;
  }
}

.grid-280 {
  width: 280px;
  @include screen-1600 {
    width: 250px;
  }
}

.grid-570 {
  width: 570px;
  @include screen-992 {
    width: 300px;
  }
}
.grid-420 {
  width: 420px;
  @include screen-992 {
    width: 300px;
  }
}

.custom-width-lg-100 {
  width: 100%!important;
  @include screen-992 {
    width: initial!important;
  }
}

.yellow-color {
  color: #ffa200;
}
.bg-yellow {
  background: #ffa200;
}
.cyan-color {
  color: $cyan-color;
}
.bg-cyan {
  background-color: $cyan-color;
}
.red-color {
  color: #fe1a4a;
}
.green-color {
  color: #51be78;
}
.purple-color {
  color: #6d5edf;
}
.combo-purple {
  color: #6d5edf;
  background-color: #edebff;
}
.combo-green {
  color: #51be78;
  background-color: #caf6d9;
}

.combo-orange {
  color: #ff7e00;
  background-color: #ffe9cb;
}
.bg-purple {
  background-color:#6d5edf;
}
.bg-green {
  background-color: #51be78;
}

.bg-orange {
  background-color: #ff7e00;
}
.color-gray {
  color: $hr-color;
}
.bg-lite-black {
  background: $secondary-color;
}
.bg-red {
  background: #e13926;
}
.bg-red {
  background: #e13926;
}
.bg-dark-cyan {
  background: #07a0d3;
}

.box-shadow-combo {
  padding: 50px 40px;
  border-radius: 15px;
  background-color: $white-color;
  box-shadow: 0px 0px 10px 0px rgba(39, 53, 160, 0.1);
}

.separator {
  color: $hr-color;
}
