/* Author CSS */
body {
  color: $secondary-color;
  font-family: $body-font;
}

h1 {
  font-size: 55px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.2;
}

p {
  font-size: 16px;
  font-weight: 400;
  font-family: $body-font;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

input:focus,
textarea:focus,
select:focus,
button:focus,
.slick-slide {
  outline: none;
}

button {
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  transition: $transition;
}
