/* Navbar */
.lms_main_nav {
    display: flex;
    justify-content: space-around;
    @include screen-1200{
        display: none;
    }
    li {
        position: relative;
        .lms_badge {
            font-weight: 500;
            font-size: 11px;
            color: $white-color;
            width: 30px;
            height: 16px;
            line-height: 16px;
            background-color: $red-color;
            padding: 1px 2px 3px 2px;
            border-radius: 4px 4px 4px 0px;
            position: absolute;
            top: -8px;
            right: -32px;
        }
        a {
            font-weight: 700;
            font-size: 16px;
            color: $menu-nav-color;
            text-transform: capitalize;
            text-decoration: none;
        }
    }
}

// mobile menu style
.lms-mobile-menu-trigger {
    background: $primary-color;
    text-align: center;
    display: block;
    padding: 5px 15px;
    color: $white-color;
    margin-right: 20px;
    display: none;
    @include screen-1200 {
        display: block;
    }
}

.mobile-menu-active {
    flex-direction: column;
    background: $primary-color;
    padding: 20px;
    border-radius: 15px;
    position: absolute;
    z-index: 9999;
    top: 50px;
    width: 100%;
    border-radius: 15px;
    position: absolute;
    width: 100%;
    left: 0%;
    right: 0%;
    width: 220px;
    display: block;
    li {
      margin-bottom: 10px;
      transition: .3s;
      &:hover {
          margin-left: 10px;
      }
      .lms_badge {
          position: static;
          border-radius: 0;
          margin-left: 10px;
      }
      &:last-child{
          margin-bottom: 0;
      }
      a {
          color: $white-color;
      }
    }
}

